* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4a4a4a;
}

::-webkit-scrollbar-thumb {
    background: #FE6E27;
}

body {
    background-color: #fbfaf9;

}

/* Navbar */
.navbar-brand span {
    color: #FE6E27;
}

.navbar-brand {
    color: #242C31;
    font-size: 31px;
    font-weight: bold;
}

.nav-link {
    color: #242C31;
    font-size: 17px;
    font-weight: 500;
    margin-right: 30px;
}

#link-profile {
    color: #FE6E27;
}
.nav-link:hover {
    color: #FE6E27;
}

/*  */

.card img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 4rem;
  }

.container-profile {
    text-align: center;
}

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
  /* Card */

  .card table, th, td{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-collapse: collapse;
    background: solid   ;
    background-color: #FE6E27;
  }

  h3 {
    color: white;
  }

  td, th {
  color: #fbfaf9;  
  }
